<section>
    <a href="/post/{{id}}">
        <div class="card" data-id={{id}}>
            <div class="card-header">
                <h3>{{title}}</h3>
                <p>Posted by {{user.username}} on {{createdAt}}</p>
            </div>
            <div class="card-body">
                {{content}}
            </div>
        </div>
    </a>
</section>