<section>
    <div class="card" data-id={{id}}>
        <a href="/post/{{id}}">
            <div class="card-header">
                <h3>{{title}}</h3>
                <p>Posted by {{user.username}} on {{createdAt}}</p>
            </div>
            <div class="card-body">
                {{content}}
            </div>
        </a>
        <button id="updatePost">update post</button>
        <button id="deletePost">delete post</button>
    </div>
</section>